<md-nav-bar class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/main">Learnpedia</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active" ng-click="createContent()"><a>Criar Aula</a></li>
        <li class="active" ng-click="logout();"><a>Sair</a></li>
      </ul>
    </div>
  </div>
</md-nav-bar>

<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding style="margin-top: 5%">
    <div>
        <md-input-container>
            <label>Título</label>
            <input ng-model="user.title">
        </md-input-container>
        <br>
        <md-input-container>
            <label>URL</label>
            <input ng-model="url">            
        </md-input-container>
        <md-button class="md-raised md-primary" ng-disabled="!url" ng-click="searchVideo(url);">Buscar</md-button>
        <br>
        <md-input-container>
            <label>Vídeo</label>
            <br>
            <ng-youtube-embed video="videoURL" autoplay="false" color="white" disablekb="true" end="20">
            </ng-youtube-embed>
        </md-input-container>
    </div>
</md-content>

<md-content layout-padding>
    <div>
        <form name="userForm">

        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
            <label>Company (Disabled)</label>
            <input ng-model="user.company" disabled>
            </md-input-container>

            <md-input-container>
            <label>Enter date</label>
            <md-datepicker ng-model="user.submissionDate"></md-datepicker>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="user.firstName">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
            <label>Long Last Name That Will Be Truncated And 3 Dots (Ellipsis) Will Appear At The End</label>
            <input ng-model="theMax">
            </md-input-container>
        </div>

        <md-input-container class="md-block">
            <label>Address</label>
            <input ng-model="user.address">
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <input ng-model="user.address2" placeholder="Address 2">
        </md-input-container>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input ng-model="user.city">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
            <label>State</label>
            <md-select ng-model="user.state">
                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
                </md-option>
            </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
            <label>Postal Code</label>
            <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
                    required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                code.
                </div>
                <div ng-message="md-maxlength" class="my-message">
                Don't use the long version silly...we don't need to be that specific...
                </div>
            </div>
            </md-input-container>
        </div>

        <md-input-container class="md-block">
            <label>Biography</label>
            <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>

        </form>
    </div>
</md-content>



