<div class="container">
    <div class="col-sm-5 new-session-forms-container" style="margin-left:25%">
        <div>
            <form class="form-signin">
                <span><b>Nome de Usuário</b></span>
                <input type="email" class="form-control">
                <br>
                <span><b>Senha</b></span>
                <input type="password" class="form-control">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Lembre Senha
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login();">Entrar</button>
            </form>
        </div>
    </div>
</div>